.action-button{
    .left{
        text-align: left !important;
    }
    .center{
        text-align: center !important;
    }
    .right{
        text-align: right !important;
    }
    .button{
        margin-left: 8px !important;
    }
}