.ant-rate{
    padding: 0 !important;
    display: inherit !important;
    li{
        margin: 0 !important;
        font-size: 0.8em;
    }
    .ant-rate-star-full{
        color: #dbba00 !important;
    }
}