@use '/src/assets/sass/mixins';
.open-sidebar {
    position: fixed;
}
.sidebar-menu {
    width: 250px;
    max-width: 250px;
    height: 100vh;
    background-color: var(--sidebar-background-color) !important;
    box-shadow: var(--section-box-shadow) !important;
    .ant-menu-item-group-title {
        display: none;
    }
    .sidebar-header {
        .sidebar-logo {
            pointer-events: none;
            background-image: var(--shavaz-logo);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 96px;
            width: 250px;
            height: 72px;
        }
    }
    .sidebar-menu-user {
        height: 80px !important;
        line-height: 30px;
        max-width: 250px !important;
        padding: 0 8px !important;
        margin: 0 !important;
        pointer-events: none;
        span {
            @include mixins.flex($direction: column, $align: center);
            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
            }
            h4 {
                color: #fff;
                max-width: 140px !important;
                padding-top: 5px;
                white-space: pre-wrap;
                line-height: 20px;
            }
        }
    }
    .sidebar-content {
        position: absolute;
        top: 80px;
        bottom: 0;
        width: 250px;
        padding: 8px 16px 20px;
        overflow-y: auto;
        overflow-x: hidden;
        .ant-menu-submenu {
            position: relative;
            margin-bottom: 12px;
        }
        .ant-menu-submenu-title {
            padding-right: 0 !important ;
            color: var(--sidebar-text-color);
            font-size: 16px !important;
            font-weight: 500;
            .ant-menu-submenu-arrow {
                right: auto;
                left: 10px !important;
                &::after,
                &::before {
                    background-color: var(--sidebar-text-color) !important;
                }
            }
            &:hover {
                .ant-menu-submenu-arrow {
                    &::after,
                    &::before {
                        background-color: var(--sidebar-text-hover-color) ;
                    }
                }
            }
        }
        .ant-menu-sub {
            margin-bottom: -8px;
            margin-right: 5px;
        }
        .ant-menu-submenu-selected {
            span{
                color: var(--sidebar-text-hover-color) !important;
            }
            .ant-menu-submenu-arrow {
                &::after,
                &::before {
                    background-color: var(--sidebar-text-hover-color) !important;
                }
            }
            .anticon {
                color: var(--sidebar-text-active-color) !important;
            }
        }
        .sidebar-menu-item {
            a {
                color: var(--sidebar-text-color) !important;
            }
            margin: 0 !important;
            height: 40px !important;
            max-height: 40px;
            padding-right: 52px !important ;
            background-color: var(--sidebar-background-color) !important;
            margin-bottom: 2px !important;
        }
        .ant-menu-item-selected {
            background-color: var(--sidebar-text-hover-color) !important;
            color: #fff !important;
            a {
                color: var(--primary-font-color) !important;
                background-color: var(--sidebar-text-hover-color) !important;
            }
        }
    }
    .ant-menu-submenu-active{
        span{
            color: var(--sidebar-text-color) !important;
        }      
        .ant-menu-submenu-arrow {
            &::after,
            &::before {
                background-color: var(--sidebar-text-color) !important;
            }
        }
    }
    .sidebar-menu-logout,
    .sidebar-menu-dashboard {
        color: var(--sidebar-text-color) !important;
        height: 48px !important;
        font-size: 16px;
        a {
            color: var(--sidebar-text-color) !important;
        }
    }
    .sidebar-menu-dashboard {
        background-color: #00000000 !important;
        border-right: none !important;
        padding-right: 0 !important;
        position: relative;
    }
    .sidebar-menu-logout {
        font-size: 12px;
        width: auto !important;
        margin: 8px 16px !important;
        padding: 0 10px !important;
        border: 1px solid var(--accent-light-color) !important;
        border-radius: 5px;
    }
    .ant-menu-item-icon {
        width: 20px !important;
        margin:0 16px 0 12px!important;
    }
}
.ant-menu-item{
    padding: 0 28px 0 10px !important;
}
.ant-menu-sub {
    background: var(--sidebar-background-color) !important;
}
.ant-menu-title-content a {
    color: var(--sidebar-text-color) !important;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) :hover {
    @media (pointer: fine) {
        color: var(--sidebar-text-hover-color) !important;
    }
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color:  var(--accent-color) !important;
    border-right: 3px solid var(--sidebar-text-active-color);
    border-radius: 32px;
    a {
        background-color:  var(--accent-color) !important;
        color: #fff !important;
    }
        svg{
            color: #fff !important;
        }
}
.close-sidebar {
    box-shadow: var(--main-box-shadow) !important;
    @media screen and (min-width: 768px) {
        position: fixed;
        max-width: 50px !important;
        .ant-menu-title-content{
            display: none ;
        }
        .sidebar-header {
            width: 50px !important;
            height: 70px !important;
            background-size: 180px;
            background-position: 60%;
        }
        .sidebar-logo {
            background-image: var(--collapsed-logo) !important;
            background-size: 100px !important;
            max-width: 50px !important;
            padding: 0 !important;
            background-position: 122% 50% !important;
        }
        .sidebar-menu-user {
            height: 55px !important;
            h4 {
                display: none;
            }
        }
        .sidebar-content {
            top: 88px;
            width: 50px;
            padding: 0;
        }
        .ant-menu-submenu {
            border: none !important;
            &::after{
                right: 0 !important;
            }
        }
        .sidebar-menu-logout {
            padding-right: 16px !important;
            margin: 0 !important;
            border: none !important;
        }
        .sidebar-menu-dashboard {
            padding: 0 !important;
            border: none !important;
            background-color: #00000000 !important;
            padding-right: 0px !important;
            &::before{
                left: 11px !important;
            }
            &:hover{
                color: var(--sidebar-text-color) !important;
            }
            :hover{
                color: var(--sidebar-text-color) !important;
            }
            svg{
                pointer-events: none;
            }
        }
        .ant-menu-item-icon {
            width: 20px !important;
            margin:4px 14px 0 12px!important;
        }
    }
    .ant-menu-submenu-selected {
        svg{
            color: var(--sidebar-text-hover-color) !important;
        }
    }
}
