.page-header{
    background-color: #00000000 !important;
    @media (max-width:799px) {
                margin-right: 50px !important;
            }
    @media (max-width:767px) {
                margin-right: 0 !important;
            }
    .ant-page-header-heading-title{
        color: #7e7e7e;

    }
    .ant-page-header-heading-sub-title{
        color: #7e7e7e;

    }
}
