tbody .color-code{
    padding: 0 !important;
    div{
        direction: ltr;
        padding-top: 15px !important;
        height: 70px;
        font-size: 1.3em;
        color: #00000000;
    }
}
.card-color-code{
    min-width: 60px;
    direction: ltr !important;
}