@use '/src/assets/sass/mixins';

.header {
    position: fixed;
    left: 0;
    right: 0;
    height: 72px;
    background-color: var(--header-background-color) !important;
    z-index: 5 !important;
    padding: 8px 16px !important;
    .header-wrapper {
        @include mixins.flex($justify: space-between, $align: center);
        height: 56px;
        .header-fields {
            @include mixins.flex($justify: space-between, $align: center);
            padding: 8px;
            .collapse-icon {
                color: var(--section-font-color);
                margin-left: 5px;
                @media screen and(max-width:767px) {
                    display: none;
                }
            }
            .drawer-icon {
                color: var(--section-font-color);
                margin-left: 5px;
                @media screen and(min-width:768px) {
                    display: none;
                }
            }

            .search-box {
                width: 100%;
            }
        }
        .sidebar-menu-user {
                .theme-icon {
                    padding: 0 8px;
                    background-image: var(--theme-icon);
                    background-repeat: no-repeat;
                    background-size: 35px;
                    width: 35px;
                    height: 35px;
                    font-size: 1.4em;
                }
                @include mixins.flex( $align: center);
                img{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-left: 8px;
                }
                .header-icon{
                    cursor: pointer;
                    @include mixins.flex($align: center);
                    line-height: 0 !important;
                    border: 1px solid #7e7e7e;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin:0 8px;
                    span svg{
                        width: 24px;
                        color: var(--accent-color);
                    }
                }
                h4 {
                    color: var(--section-font-color);
                    margin:0 12px;
                }
        }
    }
}

@media screen and (min-width: 768px) {
    .header-open-sidebar {
        right: 250px;
    }
    .header-close-sidebar {
        right: 50px;
    }
}
