
.users-icon{
    background-image: url("/assets/images/icons/light/widget-customers.svg");
}

.last-order-icon{
    background-image: url("/assets/images/icons/light/widget-lastOrder.svg");
}

.cart-widget-icon{
    background-image: url("/assets/images/icons/light/widget-cart.svg");
}

.bank-widget-icon{
    background-image: url("/assets/images/icons/light/widget-bank.svg");
}

.warehouse-charge-icon{
    background-image: url("/assets/images/icons/light/widget-charge.svg");
}

.warehouse-value-icon{
    background-image: url("/assets/images/icons/light/widget-store.svg");
}